/** FIGURES **/

.platform {
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  height: 60px;
  transition: background-color 0.5s ease;
}
#game-dev:hover+div { background-color: $green-accent; }
#mobile-dev:hover+div { background-color: $blue-accent; }
#blog:hover+div { background-color: $gold-accent; }

.inactive { opacity: 0.75; }
.inactive:hover { cursor: not-allowed !important; }

.circle { border-radius: 100%; }

/** WIDTHS & HEIGHTS **/

.width-xs { width: 15%; }
.width-sm { width: 20%; }
.width-md { width: 40%; }
.width-lg { width: 60%; }

.height-xs { padding-bottom: 15%; }
.height-sm { padding-bottom: 20%; }
.height-md { padding-bottom: 40%; }
.height-lg { padding-bottom: 60%; }

/** SPECIAL **/

#wip-alert {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 10;
}

#wip-alert-w-header {
  position: fixed;
  top: 60px;
  height: 100px;
  z-index: 10;
}